<%= form_with(model: interaction_type, local: true) do |form| %>
  <% if interaction_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interaction_type.errors.count, "error") %> prohibited this interaction_type from being saved:</h2>

      <ul>
      <% interaction_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :interaction_type_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
