<%= form_with(model: user_ad_interaction, local: true) do |form| %>
<% if user_ad_interaction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(user_ad_interaction.errors.count, "error") %>
      prohibited this user_ad_interaction from being saved:</h2>

    <ul>
      <% user_ad_interaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :user_id %>
  <%= select("vouch", "user_id", User.all.collect {|u| [ u.name, u.id ] }, { }) %>
</div>

<div class="field">
  <%= form.label :interaction_type_id %>
  <%= select("vouch", "interaction_type_id", InteractionType.all.collect {|i| [ i.description, i.id ] }, { }) %>
</div>

<div class="field">
  <%= form.label :ad_type_id %>
  <%= select("vouch", "ad_type_id", AdType.all.collect {|a| [ a.description, a.id ] }, { }) %>
</div>

<div class="field">
  <%= form.label :scenario_id %>
  <%= select("vouch", "scenario_id", Scenario.all.collect {|s| [ s.description, s.id ] }, { }) %>
</div>


<div class="actions">
  <%= form.submit %>
</div>
<% end %>
