<%= form_with(model: proof, local: true, multipart: true) do |form| %>
  <% if proof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proof.errors.count, "error") %> prohibited this proof from being saved:</h2>

      <ul>
      <% proof.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :scenario_id %>
    <%= select("proof", "scenario_id", Scenario.all.collect {|s| [ s.verb.description + ' ' + s.noun.description + ' for ' + s.requestor.email, s.id ] }, {}) %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
