<p id="notice"><%= notice %></p>

<h1>Proofs</h1>

<table>
  <thead>
    <tr>
      <th>Mission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proofs.each do |proof| %>
      <tr>
        <td><%= proof.mission.id %></td>
        <td><%= image_tag proof.image.url(:thumb) %></td>

        <td><%= link_to 'Show', proof %></td>
        <td><%= link_to 'Edit', edit_proof_path(proof) %></td>
        <td><%= link_to 'Destroy', proof, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proof', new_proof_path %>
