<p id="notice"><%= notice %></p>

<p>
  <strong>Scenario:</strong>
  <%= @proof.scenario.id %>
  <%= @proof.scenario.verb.description %>
  <%= @proof.scenario.noun.description %>
  for
  <%= @proof.scenario.requester.name %>
  verified by:
  <%= @proof.verifier.name %>
</p>

<p>
  <%= image_tag @proof.image.url %>
</p>

<%= link_to 'Edit', edit_proof_path(@proof) %> |
<%= link_to 'Back', proofs_path %>
