<!-- shows the data from a scenario as an ad targeted as a doer, someone who can perform the task in the scenario -->
<div class="ad">

  <h1>Verifier Ad</h1>

  <%= image_tag scenario.image.url(:medium) %>
  <p><h2><%= scenario.event.description  if scenario.event %></h2></p>

  <p>Are you able to verify that
    <%= scenario.doer.name %>
    <%= scenario.verb.description.verb.conjugate tense: :past, person: :third, plurality: :singular, aspect: :perfective %>
    <%= scenario.noun.description %>
    for
    <%= scenario.requester.name %>?
  </p>

  <%= link_to 'Yes I Can', scenarios_path %>
</div>
