<!-- shows the data from a scenario as an ad targeted as a doer, someone who can perform the task in the scenario -->
<div class="ad">
  <h1>Doer Ad</h1>

  <%= image_tag scenario.image.url(:medium) %>
  <p><h2><%= scenario.event.description if scenario.event %></h2></p>
  <p>Can you
    <%= scenario.verb.description %>
    a
    <%= scenario.noun.description %>
    for
    <%= scenario.requestor.email %>?</p>

  <%= link_to 'Yes I Can', scenarios_path %>
</div>
