<!-- shows the data from a scenario as an ad targeted as a doer, someone who can perform the task in the scenario -->

<div id="<%= "lion_ad_content_#{scenario.id}_request" %>">
  <%= link_to("https://lion-frontend-uat.herokuapp.com/#{scenario.id}/requester/") do %>
    <%= image_tag scenario.image.url(:medium) %>

    <h1><%= "Need #{scenario.noun.description} #{scenario.verb.description}?" %></h1>

    <h2><%= scenario.event.description  if scenario.event %></h2>

    <p>Do you need help with something?</p>
    <p><%= scenario.doer.firstname.slice(0,1).capitalize + scenario.doer.firstname.slice(1..-1) %> got help with <%= scenario.verb.description %> <%= scenario.noun.description %></p>
  <% end %>
</div>