<p id="notice"><%= notice %></p>

<h1>Scenarios</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Verb</th>
      <th>Noun</th>
      <th>Requestor</th>
      <th>Doer</th>
      <th>Funding Goal</th>
      <th>Event</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scenarios.each do |scenario| %>
      <tr>
        <td><%= scenario.id %></td>
        <td><%= image_tag scenario.image.url(:thumb) %></td>

        <td><%= scenario.verb.description %></td>
        <td><%= scenario.noun.description %></td>
        <td><%= scenario.requestor.email %></td>
        <td><%= scenario.doer.email %></td>
        <td><%= scenario.funding_goal %></td>
        <td><%= scenario.event.description %></td>

        <td><%= link_to 'Show', scenario %></td>
        <td><%= link_to 'Edit', edit_scenario_path(scenario) %></td>
        <td><%= link_to 'Destroy', scenario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scenario', new_scenario_path %>
