<p id="notice"><%= notice %></p>

<%= image_tag @scenario.image.url %>

<p>
  <strong>Verb:</strong>
  <%= @scenario.verb.description %>
</p>

<p>
  <strong>Noun:</strong>
  <%= @scenario.noun.description %>
</p>

<p>
  <strong>requester:</strong>
  <%= @scenario.requester.name %>
</p>

<p>
  <strong>Doer:</strong>
  <%= @scenario.doer.name %>
</p>

<p>
  <strong>event:</strong>
  <%= @scenario.event.description %>
</p>

<p>
  <strong>Funding Goal:</strong>
  <%= @scenario.funding_goal %>
</p>

<p>
  <strong>Is Child Of:</strong>
  <br/>
  <% if @scenario.parent_scenario then %>
    <%= render 'scenario_table_row_short', scenarios: [ @scenario.parent_scenario ] %>
  <% else %>
    None
  <% end %>
</p>

<p>
  <strong>Is Parent Of:</strong>
  <br/>

  <% if @scenario.children_scenario.count != 0 then %>
    <%= render 'scenario_table_row_short', scenarios: @scenario.children_scenario %>
  <% else %>
    None
  <% end %>
</p>

<%= link_to 'Edit', edit_scenario_path(@scenario) %>
|
<%= link_to 'Back', scenarios_path %>
