<p id="notice"><%= notice %></p>

<p>
  <strong>Verb:</strong>
  <%= @scenario.verb.description %>
</p>

<p>
  <strong>Noun:</strong>
  <%= @scenario.noun.description %>
</p>

<p>
  <strong>Requestor:</strong>
  <%= @scenario.requestor.email %>
</p>

<p>
  <strong>Doer:</strong>
  <%= @scenario.doer.email %>
</p>

<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', scenarios_path %>
