<%= form_with(model: mission, local: true) do |form| %>
  <% if mission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

      <ul>
      <% mission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :verb_id %>
    <%= select("mission", "verb_id", Verb.all.collect {|v| [ v.description, v.id ] }, {}) %>
  </div>

  <div class="field">
    <%= form.label :noun_id %>
    <%= select("mission", "noun_id", Noun.all.collect {|n| [ n.description, n.id ] }, {}) %>
  </div>

  <div class="field">
    <%= form.label :requestor_id %>
    <%= select("mission", "requestor_id", User.all.collect {|u| [ u.email, u.id ] }, {}) %>
  </div>

  <div class="field">
    <%= form.label :solver_id %>
    <%= select("mission", "solver_id", User.all.collect {|u| [ u.email, u.id ] }, {}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
