<p id="notice"><%= notice %></p>

<p>
  <strong>Verb:</strong>
  <%= @mission.verb.description %>
</p>

<p>
  <strong>Noun:</strong>
  <%= @mission.noun.description %>
</p>

<p>
  <strong>Requestor:</strong>
  <%= @mission.requestor.email %>
</p>

<p>
  <strong>Solver:</strong>
  <%= @mission.solver.email %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
