<p id="notice"><%= notice %></p>

<h1>Verbs</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verbs.each do |verb| %>
      <tr>
        <td><%= verb.description %></td>
        <td><%= link_to 'Show', verb %></td>
        <td><%= link_to 'Edit', edit_verb_path(verb) %></td>
        <td><%= link_to 'Destroy', verb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Verb', new_verb_path %>
