<%= form_with(model: ad_type, local: true) do |form| %>
  <% if ad_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad_type.errors.count, "error") %> prohibited this ad_type from being saved:</h2>

      <ul>
      <% ad_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :ad_type_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
